main {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 20px 0;
}

section {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid var(--colors-ui-40);
    border-radius: 10px;
    /* background-color: red; */
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: 1px solid var(--colors-ui-40);
    border: none;
    background-color: var(--colors-ui-5);
}

input:focus {
    outline: 1px solid var(--colors-blue-100);
    border: none;
}

hr {
    margin: 15px 0;
}

table#users-list {
    width:100%;
    margin-top: 20px;
}
table#users-list thead {
    display: table;
    float: left;
    width: 100%;
    border-bottom: 2px solid var(--colors-ui-40);
}
table#users-list thead th {
    text-align: center;
}
table#users-list tbody {
    float: left;
    width: 100%;
    border-bottom: 2px solid var(--colors-ui-40);
}
table#users-list tbody tr {
    display: table;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

table#users-list th, td {
    width: 25%;
    border-right: 1px solid var(--colors-ui-40);
}

table#users-list th, td:last-child {
    border-right: none;
}