.button {
    background-color: var(--colors-ui-40);
    border: none;
    color: white;
    padding: 10px 28px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 8px;
}

.button:disabled {
    background-color: var(--colors-ui-20);
    cursor: no-drop;
}

.button-theme-green {
    background-color: var(--colors-green-100);
}

.button-theme-green:disabled {
    background-color: var(--colors-green-40);
}

.button-theme-blue {
    background-color: var(--colors-blue-100);
}

.button-theme-blue:disabled {
    background-color: var(--colors-blue-40);
}

.button-theme-red {
    background-color: var(--colors-red-100);
}

.button-theme-red:disabled {
    background-color: var(--colors-red-40);
}