main {
    max-width: 1280px;
    width: 100%;
    margin: 40px auto;
    padding: 10px 20px;
    padding: 0 20px 20px 20px;
}

main hr {
    margin: 20px 0;
}

main h1 {
    word-break: break-word;
    font-size: 2em;
    font-weight: 400;
}

main h1 span {
    color: var(--colors-text-40);
    font-weight: 300;
}

main article {
    border-radius: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

main article .header {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--colors-ui-10);
    margin-bottom: 10px;
    padding: 10px 0;
}

main article .header .author-username {
    color: var(--colors-blue-100);
    background-color: var(--colors-blue-15);
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 600;
}

main article .content {
    font-size: .95em !important;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
}

main article.comment {
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    main article {
        width: 90%;
    }
}

main article .reactions {
    display: flex;
    padding: 10px 0;
    margin-bottom: 10px;
    gap: 10px;
}

main article button.reaction {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--colors-ui-40);
    border-radius: 8px;
    font-size: 16px;
    padding: 0 0;
    box-shadow: none;
    cursor: pointer;
    align-items: center;
}

main article button.reaction.reacted {
    background-color: var(--colors-blue-10);
    border: 2px solid var(--colors-blue-60);
}

main article button.reaction:hover,
main article button.reaction.reacted:hover {
    background-color: var(--colors-blue-20);
}

main article button.reaction span.reactions-count {
    overflow: hidden;
    width: 100% !important;
    text-align: end;
}

main article button.reaction span.reactions-count,
main article button.reaction i {
    color: var(--colors-ui-80);
    font-size: 14px;
}

main article .header button.reaction.up-vote {
    margin-left: auto;
}

main article button.reaction.up-vote span.reactions-count,
main article button.reaction.up-vote i {
    font-weight: 700;
}

main article button.reaction.up-vote.reacted span.reactions-count,
main article button.reaction.up-vote.reacted i {
    color: var(--colors-blue-80);
    font-weight: 700;
}