/* Footer */
footer {
  background-color: var(--colors-header);
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
}

.footer-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #d2691e;
  cursor: pointer;
}