/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, sans-serif;
}

body {
  background-color: var(--colors-background);
  color: #222;
}

hr {
  border-color: var(--colors-ui-20);
}