main.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section.login-container {
    width: 400px;
    border: 1px solid var(--colors-ui-40);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--colors-flow-100);
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: 1px solid var(--colors-ui-40);
    border: none;
    background-color: var(--colors-ui-5);
}

input:focus {
    outline: 1px solid var(--colors-blue-100);
    border: none;
}

button {
    margin-top: 20px !important;
    width: 100%;
}