.markdown > * {
  margin-top: 15px;
}

.markdown code {
    padding: 1.5px 5px;
    font-weight: "400";
    border-radius: "0.25rem";
    height: 16px;
    border-radius: 3px;
    background-color: var(--colors-ui-15);
    border: 2px solid var(--colors-ui-10);
}

.markdown pre {
    font-family: monospace;
    font-size: 14px;
    background-color: var(--colors-ui-15);
    background-size: cover;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--colors-ui-10);
}

.markdown pre code {
    width: 100%;
    overflow-x: auto;
    padding: unset;
    background-color: transparent;
    border: none;
}