.markdown > * {
  margin-top: 15px;
}

.markdown p {
    font-size: 16px;
}

.markdown a {
    color: var(--colors-blue-100);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
}

.markdown h1 {
    font-size: 32px;
}

.markdown h2 {
    font-size: 28px;
}

.markdown h3 {
    font-size: 24px;
}

.markdown h4 {
    font-size: 20px;
}

.markdown h5 {
    font-size: 18px;
}

.markdown code {
    padding: 1.5px 5px;
    font-weight: "400";
    border-radius: "0.25rem";
    height: 16px;
    border-radius: 3px;
    background-color: var(--colors-ui-15);
    border: 2px solid var(--colors-ui-10);
}

.markdown pre {
    font-family: monospace;
    font-size: 14px;
    background-color: var(--colors-ui-15);
    background-size: cover;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--colors-ui-10);
}

.markdown pre code {
    width: 100%;
    overflow-x: auto;
    padding: unset;
    background-color: transparent;
    border: none;
}